* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  background-color: hsl(30, 38%, 92%);
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 1rem;
}

body p {
  font-size: 0.87rem;
  font-family: Montserrat;
}

.card {
  display: flex;
  flex-direction: row;
}

.card-img img {
  width: 18.75rem;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem 0 0 0.5rem;
}

.card-content {
  display: flex;
  max-width: 18.75rem;
  background-color: white;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
  gap: 2rem;
  border-radius: 0 0.5rem 0.5rem 0;
  border-bottom-right-radius: 0.5rem;
}

.category {
  font-family: Montserrat;
  color: hsl(228, 12%, 48%);
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 0.31rem;
  text-transform: uppercase;
}

.title {
  font-family: Fraunces;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem;
}

.desc {
  font-family: Montserrat;
  font-size: 0.875rem;
  font-weight: 500;
  color: hsl(228, 12%, 48%);
  line-height: 1.4rem;
}

.attribution {
  position: absolute;
  font-size: 0.6825rem;
  text-align: center;
  width: 100%;
  bottom: 0.5rem;
  left: 0;
}

.price-box {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.price-old {
  font-family: Montserrat;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 0.975rem;
  color: hsl(228, 12%, 48%);
}

.price-new {
  font-family: Fraunces;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem;
  color: hsl(158, 36%, 37%);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem 2rem;
  gap: 0.5rem;
  background-color: hsl(158, 36%, 37%);
  border-radius: 0.5rem;
  border-style: none;
}

.btn span {
  color: white;
  font-family: Montserrat;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 0.9625rem;
}

.btn:hover {
  cursor: pointer;
  background-color: hsl(158, 42%, 18%);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 760px) {
  .card {
    display: flex;
    flex-direction: column;
  }

  .card-img img {
    display: block;
    height: 21.75rem;
    object-fit: cover;
    border-radius: 0.5rem 0.5rem 0 0;
  }

  .card-content {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: white;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5rem;
    gap: 1.5rem;
    border-radius: 0 0 0.5rem 0.5rem;
  }

  .attribution {
    display: none;
  }
}
